<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
    <link href="/res/otherStyle.css" rel="stylesheet" type="text/css"/>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<body>
<div>
    <form th:action="@{/admin/user}"
          th:object="${user}"
          th:method="POST">

        <label for="firstNameAdd">Имя: </label>
        <input type="text" th:field="*{firstName}" id="firstNameAdd" placeholder="Имя">

        <label for="lastNameAdd">Фамилия: </label>
        <input type="text" th:field="*{lastName}" id="lastNameAdd" placeholder="Фамилия">

        <label for="ageAdd">Возраст: </label>
        <input type="text" th:field="*{age}" id="ageAdd" placeholder="Возраст">

        <label for="passwordAdd">Пароль: </label>
        <input type="password" th:field="*{password}" id="passwordAdd" placeholder="Пароль">

        <label for="emailAdd">Email: </label>
        <input type="text" th:field="*{username}" id="emailAdd" placeholder="Email">

        <label for="roles">Роли: </label>
        <select id="roles" name="roles" multiple size="2">
            <option
                    th:each="role : ${roles}"
                    th:value="${role.id}"
                    th:text="${role.name}">
            </option>
        </select>

        <input type="submit" value="Создать пользователя">
    </form>
</div>
</body>
</html>